In [1]:
print("Hello World!!! - my first program")

Hello World!!! - my first program

In [2]:
#Example variable
ex_var123 = 5

In [3]:
#Variable reassignment
ex_var123 = 7

In [4]:
#Floating point examples

float_1 = 1.2345
float_2 = -1/25
float_3 = 0.0
float_4 = 13.0
float_5 = -0.5

In [5]:
#Integer examples

int_1 = 7
int_2 = -52
int_3 = 0
int_4 = 900
int_ = -749

In [6]:
#Boolean examples

bool_1 = True
bool_2 = False

In [7]:
#Comments

#They are important in programming since they can be used to make helpful notes within code
# '#' character is used for comments

In [8]:
#Basic Math Operators

addition = 4 + 5            # 9
subtraction = 5 - 2         # 3
multiplication = 3 * 8      # 24
division  = 7 / 2           # 3.5

print("the addition is: ", addition)
print("the subtraction is: ",subtraction)
print("the multiplication is: ",multiplication)
print("the division is: ",division)

the addition is:  9
the subtraction is:  3
the multiplication is:  24
the division is:  3.5

In [9]:
#Exponentiation, Floor Division and Modulo

exponentiation = 4 ** 4    # 256
floor_division = 35 // 8   # 4
modulo = 29 % 4            # 1

print("the exponentiation is: ", exponentiation)
print("the floor_division is: ",floor_division)
print("the modulo is: ",modulo)

the exponentiation is:  256
the floor_division is:  4
the modulo is:  1

In [10]:
#Assignment operator
#Operators used for reassignment

add_assign = 5
add_assign += 7

add_assign

12

In [11]:
sub = 10
sub -= 5

sub

5

In [12]:
mult = 10
mult *= 5

mult

50

In [13]:
div = 40
div /= 6

div

6.666666666666667

In [14]:
exp = 7
exp**= 3

exp

343

In [15]:
floor = 80
floor //= 6

floor

13

In [16]:
modu = 70
modu %= 8

modu

6

In [17]:
#Order of precedence

expr = (9-7) * 2 ** 3 +10 % 6 // -1 * 2 -1
# first 9-7 gets executed.. so it becomes 2 * 2 ** 3 + 10 % 6 // -1 * 2 - 1
# then exponentiation... 2 * 8 + 10 % 6 // -1 * 2 - 1
# then mul, div, floor_mul, modulo.. so it becomes 16 + 4 // -1 * 2 - 1 ----> 16 + -4 * 2 - 1 ----> 16 + -8 - 1 ---> 7
expr

7

In [18]:
#Usage of print

example_1 = 3.14159 
example_2 = 24601
example_3 = True

print(example_2)
print(example_3)
print(example_1)


print(2019)

print((4+5)*3)

print(1.23+2.80)  #here output resulted in a very long decimal
print(type(1.23+2.80))

Ex2 = (123 + 280) / 100
print(Ex2)
print(type(Ex2))

#Round expression
ex3 = 1.2376543468+2.8012345678
print(round(ex3,6))

24601
True
3.14159
2019
27
4.029999999999999
<class 'float'>
4.03
<class 'float'>
4.038889

In [19]:
#Grocery Store Purchase

Penne = 16.68 * 100

Arrabiata_Pasta_Sauce = 6.98 * 100

Organic_Garlic_Cloves = 16.78 * 100

Italian_Seasoning = 15.26 * 100

Artisan_Baguettes = 3.00 * 100

Meatballs = 4.39 * 100

subtotal = Penne + Arrabiata_Pasta_Sauce + Organic_Garlic_Cloves + Italian_Seasoning + Artisan_Baguettes + Meatballs

print(subtotal)

6309.0

In [20]:
#String

ex_1 = 'This is a string'
ex_2 = "This is also a string"
ex_3 = "1981"
ex_4 = "LiVE LoNg AnD pRosPeR"
ex_5 = "!@#$%^&*()_+=-;,./<>?][}{\|"
ex_6 = ""
ex_7 = "That's my friend\n hiiiii \n byeeeee"

print(ex_1)
print(ex_2)
print(ex_3)
print(ex_4)
print(ex_5)
print(ex_6)
print(ex_7)

This is a string
This is also a string
1981
LiVE LoNg AnD pRosPeR
!@#$%^&*()_+=-;,./<>?][}{\|

That's my friend
 hiiiii
 byeeeee

In [21]:
#accessing string by index

ex_8 = "orange"
print(ex_8[2])

print("apple"[3])

a
l

In [22]:
#String Slicing

ex_10 = "apricots"

print(ex_10[:3]) #one less than 3 is 2 -> so it stops at r where the index of r is 2
print(ex_10[2:5])
print(ex_10[4:])

apr
ric
cots

In [23]:
'''

print("a")

print("b")

'''

'\n\nprint("a")\n\nprint("b")\n\n'

In [24]:
#String concatenation

print("Pecan" + " " + "Pie")

concatenated = "R2" + "-" + "D2"
print(concatenated)
print(concatenated[3])
print(concatenated[1:4])

Pecan Pie
R2-D2
D
2-D

In [25]:
#String Exercise

str1 = "Just do it!"
print(str1[10])
print(str1[5:7])
print(str1[8:])
print(str1[:4])

print("*************")

str2 = "Don't"
print(str2)
print(str2 + " " +str1[5:])

print("-------")

print(str1.replace("Just", "Don't"))

print("^^^^^^^^^^^^^^")

to_slice = "Just do it!"
print("Don't " + to_slice[5:])  # prints "Don't do it!"

!
do
it!
Just
*************
Don't
Don't do it!
-------
Don't do it!
^^^^^^^^^^^^^^
Don't do it!

In [26]:
#Type function

print(type(example_1))
print(type(example_2))
print(type(example_3))

<class 'float'>
<class 'int'>
<class 'bool'>

In [27]:
#String function

exmpl1 = str(True)
exmpl2 = str(57)
exmpl3 = str(3.14)

print(exmpl1)
print(exmpl2 + exmpl2)

print(type(exmpl1))
print(type(exmpl2))
print(type(exmpl3))

True
5757
<class 'str'>
<class 'str'>
<class 'str'>

In [28]:
#Escape sequences

print("This\tis\ta\tlot\tof\tspace")  #\t -> represents tab
print("line one\nline two")   #\n -> newline
print('"When I said \'immediately,\' I meant today!" said King Saul.')   # \' -> this will print single quote inside quotes
print("\"Do or do not. There is no try.\"")
print("All escape sequences contain a \\.")

This	is	a	lot	of	space
line one
line two
"When I said 'immediately,' I meant today!" said King Saul.
"Do or do not. There is no try."
All escape sequences contain a \.

In [29]:
#Example
#programming - create an asterisk challenge

print("*******\n ***** \n  ***  \n   *   ")

*******
 *****
  ***
   *

In [30]:
#input function -> allows to get an input from the user
name = input("Please enter your name.")
print("Your name is " + name + ".")
print(type(name))

Please enter your name.Sai
Your name is Sai.
<class 'str'>

In [31]:
#input function

fav_num = input("What is your favourite number?")
print("Your favourite number is " + fav_num + ".")
print(type(fav_num))       #Even though we are entering a number, fav_num is a type string

What is your favourite number?56
Your favourite number is 56.
<class 'str'>

In [32]:
#input function

col = input("Please enter your favourite shirt color.")
print("Your favourite color is " + col + ".")
print("Hey " + name +", your favourite number is " + fav_num + " and your favourite color of your tshirt is " + col + ".")

Please enter your favourite shirt color.White
Your favourite color is White.
Hey Sai, your favourite number is 56 and your favourite color of your tshirt is White.

In [33]:
#int() and float()

#int() function allows you to convert a string into an integer

user_int = int(input("Please enter an integer"))
print(user_int)
print(type(user_int))

Please enter an integer67
67
<class 'int'>

In [34]:
#float() function allows you to convert a string into a float

user_float = float(input("Please enter a float"))
print(user_float)
print(type(user_float))
print(user_float + 8.54)

Please enter a float87.8
87.8
<class 'float'>
96.34

In [35]:
#Example
#Get an integer from user and add it to 10
use_int = int(input("Please enter an integer."))
 
print(use_int + 10)

Please enter an integer.23456
23466

#### Functions - when being able to reuse code on different variables and values without having to rewrite it would save you significant amounts of time and allow you to use much less . The main points of functions is to give programmers the ability to avoid having to duplicate code.

In [36]:
#Defining a function
def function_name():
    print(2+2)

In [37]:
#calling a function
function_name()

4

In [38]:
#Defining a function with parameter

def function_name1(parameter):
    print(parameter+5)

In [39]:
#calling a function
function_name1(64)

69

In [40]:
#Defining a function with multiple parameters
first_str = "The number "
def function_name2(p1,p2,p3):
    print(p1 + str(p2) + p3)

In [41]:
function_name2(first_str,5," is an integer")  #when you are calling a function, you pass argument(s) to a function which has a parameter

The number 5 is an integer

In [42]:
#Function with default parameters

def default_function(num1=7, num2=8):
    print(num1 * num2)

In [43]:
default_function()

56

In [44]:
default_function(2)

16

In [45]:
default_function(4,5)

20

In [46]:
#Using return in a function

def default_function3(num1,num2):
    return num1/num2

In [47]:
product = default_function3(7,3)
product

print("sai")
print(product)
print("************")
product
example_1

sai
2.3333333333333335
************

3.14159

In [48]:
def default_function4(num1,num2):
    return num1*num2

In [49]:
print(default_function4(8,9) + 44)

116

In [50]:
#Example

#Celsius to fahrenheit 

celsius = int(input("Please enter an integer value for degrees celsius. "))

Please enter an integer value for degrees celsius. 36

In [51]:
def fahrenheit(cel):
    # To avoid the approximation error that would occur if the float 1.8 was used in the calculation, 1.8 * 10 is used
    # instead, resulting in the integer 18.  To balance this out, 32 is also multiplied by 10 to get 320.  After the
    # calculations in the parentheses are finished, the result is divided by 10, which gives the correct Fahrenheit
    # temperature.
    return (18 * cel + 320) / 10

In [52]:
print("The Fahrenheit equivalent of " + str(celsius) + " degrees Celsius is " + str(fahrenheit(celsius)) + ".")

The Fahrenheit equivalent of 36 degrees Celsius is 96.8.

In [53]:
celsius = int(input("Please enter an integer value for degrees celsius. "))
def fahrenheit(cel):
    # The second argument of round() is 1 since we only want the Fahrenheit temperature to be displayed with 1 number
    # after the decimal point
    return round((1.8 * cel + 32), 1)

Please enter an integer value for degrees celsius. 98

In [54]:
print("The Fahrenheit equivalent of " + str(celsius) + " degrees Celsius is " + str(fahrenheit(celsius)) + ".")

The Fahrenheit equivalent of 98 degrees Celsius is 208.4.

In [55]:
#generic import

import random

random.seed(42)

print(random.randint(1,10))

2

In [56]:
#function import

from random import randint

print(randint(10,100))

13

In [57]:
#Universal import
#universal import is when you import every function from a module so that 
#whenever you call any function from that module you do not need to type the modules name and a period

from random import *

print(random())#> 0.0 and < 1.0 any random number
print(randint(1,1000))

0.7415504997598329
251

In [58]:
#Example

#Miles per galon

from random import randint

# generates random integer between and inclusive of 10 and 25 to represent gas in the car's fuel tank
fuel = randint(10, 25)

# generates random integer between and inclusive of 200 and 400 to represent miles the car can go without refueling
miles = randint(200, 400)

# calculates and displays the MPG of the car assuming car manufacturers overestimates in their claims
print("The car can travel " + str(miles // fuel) + " miles per gallon.")

# displays the number of gallons of fuel that the car's fuel tank can hold
print("The car's fuel tank can hold " + str(fuel) + " gallons.")

# displays the number of miles that the car can travel on a full tank
print("The car can travel " + str(miles) + " miles on a full tank.")

The car can travel 13 miles per gallon.
The car's fuel tank can hold 17 gallons.
The car can travel 235 miles on a full tank.

#### Variable Scope

In [59]:
example = "hello world"  #global scope

def loc_ex():
    example = "this is a string"  #local scope
    return example

In [60]:
print(example)
print(loc_ex())

hello world
this is a string

In [61]:
#local variables cannot be used by code in the global scope

def loc_ex():
    breakfast = "Waffles"
    return breakfast

In [62]:
loc_ex()

'Waffles'

In [63]:
print(breakfast)

NameError: name 'breakfast' is not defined

In [64]:
#global variables can be accessed by code in a local scope

def print_glob():
    print(global_var)

In [65]:
global_var = "This is a string"

print_glob()

This is a string

In [66]:
#the local scope of one function can't use variables from another function's local scope

def first():
    loc = 2
    return loc

In [67]:
def second():
    return loc

In [68]:
first()

2

In [69]:
second()

NameError: name 'loc' is not defined

In [70]:
#You can use the same name for different variables as long as they are in different scopes

def loc_ex1():
    fruit = "pear"
    print(fruit)

In [71]:
def loc_ex2():
    fruit = "banana"
    print(fruit)

In [72]:
fruit = "apple"

In [73]:
loc_ex1()
loc_ex2()
print(fruit)

pear
banana
apple

In [74]:
#Another example:

def loc_ex():
    global fruit
    fruit = "banana"
    print(fruit)

In [75]:
fruit = "chickoo"
print(fruit)
print("******************")
loc_ex()
print("------------")
print(fruit)

chickoo
******************
banana
------------
banana

In [76]:
words = "hello world"
 
 
def hi_world():
    return words

In [77]:
print(hi_world())

hello world

#### Flow control

In [78]:
#Greater than
print(1>2)
print(7>3)

False
True

In [79]:
#Less than
print(5.79<6)
print(3<3)

True
False

In [80]:
#Greater than or equal to & less than or equal to
print(9>=9)
print(1<=2)

True
True

In [81]:
#Not equal to
print(10!=100)
print(10!=10)

True
False

In [82]:
#Equal to
print(10==100)
print(10==10)

False
True

In [83]:
print("hello" == "hello")
print("hello" != "world")
print("Hello" == "hello")

True
True
False

In [84]:
print(4.0>=4)
print(4.0<=4)
print(4.0==4)

True
True
True

In [85]:
#And operator

print(4>1 and "word" == "word")
print(8.76==8.7600 and 2!=2)
print("earth"=="Earth" and 6<=3)
print(10==5 and 10!=5)

True
False
False
False

In [86]:
#Or operator

print(4>1 or "word" == "word")
print(8.76==8.7600 or 2!=2)
print("earth"=="Earth" or 6<=3)
print(10==5 or 10!=5)

True
True
False
True

In [87]:
#Not operator

print(not 6482>0)
print(not "Python"!="Python")

False
True

In [89]:
#If statement

veg = input("Type the name of the vegetable")

if veg == "corn":
    print("The vegetable is corn")

Type the name of the vegetablecapsicum

In [90]:
#If and else statement

veg = input("Type the name of the vegetable")

if veg == "corn":
    print("The vegetable is corn")
else:
    print("The vegetable is not corn")

Type the name of the vegetablecorn
The vegetable is corn

In [91]:
#Nested if and else

gpa = float(input("What was the applicant's grade point average? "))

if gpa >= 3.7:
    inst_app = input("Is the student going to be educated at an approved institution? ")
    if inst_app == "yes":
        print("The applicant qualifies for a low APR Student loan.")
    else:
        print("The applicant does not qualify since they have not been accepted into an approved institution")
else:
    print("The applicant did not have high enough grades to qualify.")

What was the applicant's grade point average? 3.78
Is the student going to be educated at an approved institution? no
The applicant does not qualify since they have not been accepted into an approved institution

In [92]:
#Example

#Student Grade problem

score = int(input("Please enter the student's score. "))
 
if score >= 90:
    print("This student's score of " + str(score) + " is an A.")
else:
    if score >= 80:
        print("This student's score of " + str(score) + " is a B.")
    else:
        if score >= 70:
            print("This student's score of " + str(score) + " is a C.")
        else:
            if score >= 60:
                print("This student's score of " + str(score) + " is a D.")
            else:
                print("This student's score of " + str(score) + " is a F.")

Please enter the student's score. 78
This student's score of 78 is a C.

In [93]:
#Elif statement

user_num = int(input("Please enter an integer. "))

if user_num < 0:
    print("the number you have entered is less than 0. ")
elif user_num == 0:
    print("the number you have entered is 0. ")
elif 0 < user_num <= 100:
    print("the number you entered can be 1, 100 or anything in between")
else:
    print("The number you entered is greater than 100. ")

Please enter an integer. 345
The number you entered is greater than 100.

In [94]:
#Example

#Roman number problem

from random import randint
one_to_ten = randint(1, 10)
 
if one_to_ten == 1:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is I.")
elif one_to_ten == 2:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is II.")
elif one_to_ten == 3:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is III.")
elif one_to_ten == 4:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is IV.")
elif one_to_ten == 5:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is V.")
elif one_to_ten == 6:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is VI.")
elif one_to_ten == 7:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is VII.")
elif one_to_ten == 8:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is VIII.")
elif one_to_ten == 9:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is IX.")
else:
    print("The roman numeral equivalent of " + str(one_to_ten) + " is X.")

The roman numeral equivalent of 2 is II.

In [95]:
#Truthy and falsey
#falsey - is an empty string

strings_ex = input("Enter any string other than an empty one")

if strings_ex:
    print("Thank you for entering something")
else:
    print("You did not enter a string.")

Enter any string other than an empty ones
Thank you for entering something

In [96]:
#Same example as that of previous one

strings_ex = input("Enter any string other than an empty one")

if strings_ex != "":
    print("Thank you for entering something")
else:
    print("You did not enter a string.")

Enter any string other than an empty one
You did not enter a string.

In [97]:
print(bool(0))
print(bool(0.0))
print(bool(499))
print(bool(3.14))

print(bool(""))
print(bool(" "))
print(bool("anything"))

False
False
True
True
False
True
True

#### Introduction to loops

In [98]:
#While syntax

counter = 0

while counter < 3:
    #code to be run in a loop

SyntaxError: unexpected EOF while parsing (<ipython-input-98-6dc01017d070>, line 6)

In [99]:
#While example

counter = 0

while counter < 3:
    print("Something")
    counter += 1

Something
Something
Something

#### Important while running while loops -> it can easily be an infinite loop. so be careful

In [100]:
#Example


#Sum of numbers 

pos_int = int(input("Please enter a positive integer."))

int_init = pos_int

summed = 0
while pos_int > 0:
    summed += pos_int
    pos_int -= 1
 
print(int_init)  # displays the initial value of pos_int
print(summed)    # displays the sum of integers from pos_int

Please enter a positive integer.78
78
3081

In [101]:
#For loops

word = "house"

for x in word:
    print(x)

h
o
u
s
e

In [102]:
print(x)

e

In [103]:
#Example

#Number of characters in a string

user_str = input("Please enter a string.")
 
count = 0  # This variable will be used to hold the number of characters in the string.
for char in user_str:
    count += 1
 
print(user_str)  
print(count)

Please enter a string.doggie
doggie
6

In [104]:
#range() with one argument

one_input = range(5)

for num in one_input:
    print(num)

0
1
2
3
4

In [105]:
#range() with two arguments

two_inputs = range(5,10)

for num in two_inputs:
    print(num)

5
6
7
8
9

In [106]:
#range() with three arguments

three_inputs = range(1,20,3)

for num in three_inputs:
    print(num)

1
4
7
10
13
16
19

In [107]:
#range() with three arguments

three_inputs = range(20,1,-3)

for num in three_inputs:
    print(num)

20
17
14
11
8
5
2

In [108]:
#Example

#Fizz Buzz

for num in range(1, 51):
    # If num is divisible by both 3 and 5, "FizzBuzz" will be printed.
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    # If num is only divisible by 3, "Fizz" will be printed.
    elif num % 3 == 0:
        print("Fizz")
    # If num is only divisible by 5, "Buzz" will be printed.
    elif num % 5 == 0:
        print("Buzz")
    # num itself will be printed in all other cases.
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [109]:
#Example

#Factorial

def factorial(fac_num):
    returned = 1
    for item in range(fac_num, 1, -1):
        returned *= item
 
    # returns returned, which now holds the value of fac_num's factorial
    return returned

In [110]:
print(factorial(3))  # 6
print(factorial(4))  # 24
print(factorial(5))  # 120

6
24
120

#### Strings and string functions

In [111]:
all_low = "there are no capitals here"
print(all_low.upper())
print(all_low)
all_up = "THIS IS SHOUTING TEXT!"
print(all_up.lower())

THERE ARE NO CAPITALS HERE
there are no capitals here
this is shouting text!

In [112]:
print("Mixed Case".isupper())
print("ALL CAPS!".isupper())

False
True

In [113]:
print("AAAHHH!".islower())
print("$100 is a lot to make in an hour.".islower())

False
True

In [114]:
print("".isupper())
print("37&8.,?:\"".islower())

False
False

In [115]:
print("37&8.,?:\"aass".islower())

True

In [116]:
print("SHOUT!".lower())
print("SHOUT!".lower().isupper())

shout!
False

In [117]:
print("Batman".isalpha())     #true
print("Batman123".isalpha())  #false
print("Batman123".isalnum())  #true
print("Batman".isalnum())     #true
print("123".isalnum())        #true

True
False
True
True
True

In [118]:
print("123".isdecimal())
print("3.14".isdecimal())

True
False

In [119]:
#isdecimal similar to only numbers. it doesnt accept even period/dot

print("79".isdecimal())
print("".isdecimal())

True
False

In [120]:
print("".isspace())
print("  ".isspace())
print("     ".isspace())
print("   3    ".isspace())
print("not just spaces".isspace())
print("not just spaces"[3].isspace())

False
True
True
False
False
True

In [121]:
print("The Empire Strikes Back".istitle())
print("Super Smash Brothers: Ultimate!".istitle())
print("the great gutsy".istitle())

True
True
False

In [122]:
print("this is a string".startswith("this"))
print("this is a string".startswith("t"))
print("this is a string".startswith("T"))

True
True
False

In [123]:
print("To infinity and beyond!".endswith("beyond!"))
print("To infinity and beyond!".endswith("beyond"))
print("To infinity and beyond!".endswith("!"))

True
False
True

In [124]:
#join

print("".join(["one","two","three"]))
print(" ".join(["one","two","three"]))
print(",".join(["one","two","three"]))
print(", ".join(["one","two","three"]))
print("...".join(["one","two","three"]))

onetwothree
one two three
one,two,three
one, two, three
one...two...three

In [125]:
#split

print("Eggs, Milk, Waffles, Bacon".split())
print("Eggs, Milk, Waffles, Bacon".split(","))
print("Eggs, Milk, Waffles, Bacon".split(", "))

['Eggs,', 'Milk,', 'Waffles,', 'Bacon']
['Eggs', ' Milk', ' Waffles', ' Bacon']
['Eggs', 'Milk', 'Waffles', 'Bacon']

In [126]:
'''
Create a variable called mixed_case and assign it the string "A Song of Ice and Fire"

Use .isupper() to check if mixed_case is a string of all upper case letters.  print() the result.

Use .islower() to check if mixed_case is a string of all lower case letters.  print() the result.

Change all of the letters in mixed_case to upper case letters using .upper() and print() the result.

Change all of the letters in mixed_case to lower case letters using .lower() and print() the result.

Use the .istitle() method to check if mixed_case is title case and print the result.

Create a variable called title_case and assign it the result of .title() being called on mixed_case.

print() title_case

Call startswith() on mixed_case with the letter mixed_case starts with as its argument.  print() the result.

Call endswith() on mixed_case with the letter mixed_case ends with as its argument.  print() the result.

Create a variable called words and assign it the result of split() being used on mixed_case.

print the variable "words"

Use the .join() method to join together all of the items in the list assigned to words as a single string.  Use .isalpha() to check if the string is made up entirely of letters.  Finally, use print() to display the result.

'''

'\nCreate a variable called mixed_case and assign it the string "A Song of Ice and Fire"\n\nUse .isupper() to check if mixed_case is a string of all upper case letters.  print() the result.\n\nUse .islower() to check if mixed_case is a string of all lower case letters.  print() the result.\n\nChange all of the letters in mixed_case to upper case letters using .upper() and print() the result.\n\nChange all of the letters in mixed_case to lower case letters using .lower() and print() the result.\n\nUse the .istitle() method to check if mixed_case is title case and print the result.\n\nCreate a variable called title_case and assign it the result of .title() being called on mixed_case.\n\nprint() title_case\n\nCall startswith() on mixed_case with the letter mixed_case starts with as its argument.  print() the result.\n\nCall endswith() on mixed_case with the letter mixed_case ends with as its argument.  print() the result.\n\nCreate a variable called words and assign it the result of split() being used on mixed_case.\n\nprint the variable "words"\n\nUse the .join() method to join together all of the items in the list assigned to words as a single string.  Use .isalpha() to check if the string is made up entirely of letters.  Finally, use print() to display the result.\n\n'

In [127]:
#Strings - examples

mixed_case = "A Song of Ice and Fire"
print(mixed_case.isupper())  
print(mixed_case.islower())  
print(mixed_case.upper())  
print(mixed_case.lower())  
print(mixed_case.istitle())  
title_case = mixed_case.title()
print(title_case)  
print(mixed_case.startswith("A"))  
print(mixed_case.endswith("e"))  
words = mixed_case.split()
print(words)  
print("".join(words).isalpha())

False
False
A SONG OF ICE AND FIRE
a song of ice and fire
False
A Song Of Ice And Fire
True
True
['A', 'Song', 'of', 'Ice', 'and', 'Fire']
True

In [128]:
#ljust and rjust

print("hello world".rjust(15))  #here total no of char is 15 and space is appended initially
print("hello world".ljust(13))
print("hello world".ljust(15) + "Four spaces later")

print("hello world".rjust(15, "-")) 
print("hello world".ljust(15, "*"))

    hello world
hello world
hello world    Four spaces later
----hello world
hello world****

In [129]:
#center - appends on both sides of the string

print("hello world".center(15))
print("hello world".center(15, "*"))

  hello world
**hello world**

In [130]:
#strip rstrip and lstrip - removes all the spaces from both sides of a string, rstrip - for right side and lstrip - for left side

print("1111111I had an exciting trip!!!!!!!1111111111")
print("1111111I had an exciting trip!!!!!!!1111111111".strip("1"))
print("1111111I had an exciting trip!!!!!!!1111111111".rstrip("1"))
print("11111111I had an exciting trip!!!!!!!1111111111".lstrip("1"))

1111111I had an exciting trip!!!!!!!1111111111
I had an exciting trip!!!!!!!
1111111I had an exciting trip!!!!!!!
I had an exciting trip!!!!!!!1111111111

In [131]:
print("juice, bread, cheese, beef, bread".rstrip(", bread"))

juice, bread, cheese, beef

In [132]:
print("blueblueyellowblue".strip("eulb"))

yellow

In [133]:
#replace
print("Good Morning".replace("Morning", "Afternoon"))

Good Afternoon

In [134]:
'''
Do all of this in a .py file:

Create a variable called the_string and assign it the string "North Dakota".

Call .rjust() on the_string with 17 as its argument and print() the result.

Call .ljust() on the_string with the arguments 17 and "*" then print() the result.

Create a variable called center_plus and assign it the result of .center() being called on the_string with 16 and "+" as arguments.

Use print() to display the string assigned to center_plus.

Call .lstrip() on the_string to remove "North" then print() the result.

Call .rstrip() on center_plus with "+" as its argument and print() the result.

Call .strip() on center_plus with "+" as its argument and print() the result.

Call .replace() on the_string and replace "North" with "South".  print() the result.
'''

'\nDo all of this in a .py file:\n\nCreate a variable called the_string and assign it the string "North Dakota".\n\nCall .rjust() on the_string with 17 as its argument and print() the result.\n\nCall .ljust() on the_string with the arguments 17 and "*" then print() the result.\n\nCreate a variable called center_plus and assign it the result of .center() being called on the_string with 16 and "+" as arguments.\n\nUse print() to display the string assigned to center_plus.\n\nCall .lstrip() on the_string to remove "North" then print() the result.\n\nCall .rstrip() on center_plus with "+" as its argument and print() the result.\n\nCall .strip() on center_plus with "+" as its argument and print() the result.\n\nCall .replace() on the_string and replace "North" with "South".  print() the result.\n'

In [135]:
#Strings exercises - solutions

the_string = "North Dakota"
print(the_string.rjust(17))  
print(the_string.ljust(17, "*"))  
center_plus = the_string.center(16, "+")  
print(center_plus)
print(the_string.lstrip("North"))
print(center_plus.rstrip("+"))  
print(center_plus.strip("+"))  
print(the_string.replace("North", "South"))

     North Dakota
North Dakota*****
++North Dakota++
 Dakota
++North Dakota
North Dakota
South Dakota

In [136]:
#len

print(len("tree "))

5

In [137]:
print("this" + " " + "is a " + "String")
print(len("this" + " " + "is a " + "String"))
print("antidisestablishmentarianism"[7:20])
print(len("antidisestablishmentarianism"[7:20]))

this is a String
16
establishment
13

In [138]:
#Character reverser

user_string = input("Please enter a string.")
reversed = ""
 
for item in range(len(user_string) - 1, -1, -1):
    reversed += user_string[item]
 
print(reversed)

Please enter a string.Dadar
radaD

In [139]:
#Word counter

str_1 = "Anyway, like I was sayin', shrimp is the fruit of the sea. You can barbecue it, boil it, broil it, bake it, \
saute it. Dey's uh, shrimp-kabobs, shrimp creole, shrimp gumbo. Pan fried, deep fried, stir-fried. There's pineapple \
shrimp, lemon shrimp, coconut shrimp, pepper shrimp, shrimp soup, shrimp stew, shrimp salad, shrimp and potatoes, \
shrimp burger, shrimp sandwich. That- that's about it."
 
spaces_and_letters = ""
 
# this for loop reduces the string to letters, numbers, and spaces
for char in str_1:
    if char.isalnum() or char.isspace() or char == "-":
        spaces_and_letters += char   #Anyway like I was sayin shrimp is the fruit of the sea you can 
 
words = spaces_and_letters.split()
number_of_words = len(words)
 
print(words)
print(number_of_words)

['Anyway', 'like', 'I', 'was', 'sayin', 'shrimp', 'is', 'the', 'fruit', 'of', 'the', 'sea', 'You', 'can', 'barbecue', 'it', 'boil', 'it', 'broil', 'it', 'bake', 'it', 'saute', 'it', 'Deys', 'uh', 'shrimp-kabobs', 'shrimp', 'creole', 'shrimp', 'gumbo', 'Pan', 'fried', 'deep', 'fried', 'stir-fried', 'Theres', 'pineapple', 'shrimp', 'lemon', 'shrimp', 'coconut', 'shrimp', 'pepper', 'shrimp', 'shrimp', 'soup', 'shrimp', 'stew', 'shrimp', 'salad', 'shrimp', 'and', 'potatoes', 'shrimp', 'burger', 'shrimp', 'sandwich', 'That-', 'thats', 'about', 'it']
62

In [140]:
#format

name = input("What is the Job Applicant's name?")
degree = input("What did they major in at college?")
job = input("What is their current occupation")
experience = input("How many years have they been working in their field?")

print(name + " majored in " + degree + ", works as a " + job + " and has " + experience + " years of experience.")

What is the Job Applicant's name?Joe Biden
What did they major in at college?Law
What is their current occupationPresident
How many years have they been working in their field?30+
Joe Biden majored in Law, works as a President and has 30+ years of experience.

In [141]:
print("{} majored in {}, works as a {} and has {} years of experience.".format(name,degree,job,experience))

Joe Biden majored in Law, works as a President and has 30+ years of experience.